.audience-trends {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: initial !important;
    padding: 10px !important;
}

.red {
    background-color: yellow;
}

#PlacesAutocomplete__autocomplete-container {
    z-index: 100;
}